.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    max-height: 100vh;
    overflow-y: hidden;
}

.meals_header_background {
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 0;
    left: 0;

    background: url('./meals-header-background.png');
    background-size: cover;
    background-position-y: -300px;
    background-repeat: no-repeat;
    z-index: -1;

    filter: brightness(0.3);
}


.navbar {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;

    z-index: 2;
    width: 80vw;
    height: 10vh;

    color: white;
    background-image: url('/app/images/meals-header-background.png');
    background-size: cover;
}

.auth_container {
    margin-left: auto;
}

.auth_container a {
    border-radius: 40px;
    padding: 15px;
}

.login {
    color: var(--primary);
    background-color: white !important;
}

.register {
    color: white;
    background-color: var(--primary) !important;
    margin-left: 2px !important;
}

.navbar_buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar a {
    background: transparent;
    border: 0;
    margin-left: 20px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    transition: 100ms;
}

.logo_container {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 700 !important;
    font-size: 2rem !important;
}

.logo_container img {
    height: 8vh;
    width: 8vh;
    margin: 10px;
    border: 0;
    outline: none;
    background-image: url('./favicon.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.recipe_card {
    display: flex;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 2vw;
}

.recipe_card img {
    max-width: 50%;
    height: 40vh;

    border-radius: 20px;
}

.recipe {
    width: 60vw;
}

.recipe_card_content {
    margin-left: 2vw;
}

.recipe_card_content a {
    color: var(--primary);
}

.quick_macros {
    line-height: 0.5;
}

.full_details {
    height: 45vh;
    overflow-y: scroll;
    display: flex;
    border: 2px solid rgb(245, 245, 245);;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.ingredients {
    margin-left: 2.5vw;
}

.nutrition {
    margin-left: auto;
    margin-right: 2.5vw;
}

.nutrition p {
    margin-top: 20px;
}

.nutrition_header {
    display: flex;
    flex-direction: column;
}

.nutrition_header p {
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
}

@media (hover: hover) and (pointer: fine) {
    .navbar a:hover {
        color: var(--primary);
        cursor: pointer;
    }

    .register:hover {
        color: white !important;
        filter: brightness(1.1);
        cursor: pointer;
    }

    .login:hover {
        filter: brightness(0.9);
        cursor: pointer;
    }
}