.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(242, 242, 242);
}

.meals_header_background {
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 0;
    left: 0;
    z-index: 2;

    background: url('./meals-header-background.png');
    background-size: cover;
    background-position-y: -700px;
    background-repeat: no-repeat;

    filter: brightness(0.3);
}

.auth_container {
    margin-left: auto;
}

.auth_container a {
    border-radius: 40px;
    padding: 15px;
}

.login {
    color: var(--primary);
    background-color: white !important;
}

.register {
    color: white;
    background-color: var(--primary) !important;
    margin-left: 2px !important;
}

.navbar_buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar a {
    background: transparent;
    border: 0;
    margin-left: 20px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    transition: 100ms;
}

.logo_container {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 700 !important;
    font-size: 2rem !important;
}

.logo_container img {
    height: 8vh;
    width: 8vh;
    margin: 10px;
    border: 0;
    outline: none;
    filter: hue-rotate(180deg);
    background-image: url('./favicon.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.recipe_card {
    margin-top: 6rem;
    display: flex;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 2vw;
    overflow: hidden;
}

.recipe_card img {
    max-width: 60%;
    height: 50vh;
}

.recipe {
    width:60vw;
    height: 100%;
    overflow-y: visible;
}

.recipe_card_content {
    margin-left: 2vw;
}

.recipe_card_content a {
    color: var(--primary);
}

.quick_macros {
    line-height: 0.5;
}

.full_details {
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid transparent;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.full_details h1 {
    font-family: 'Inter' !important;
}

.full_details a {
    margin-left: auto;
}

.ingredients {
    margin-left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.nutrition p {
    margin-top: 20px;
    display: flex;
}

.nutrition_header {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.nutrition_header p {
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 200;
}

/* width */
.main::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.main::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.main::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.main::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

@media (hover: hover) and (pointer: fine) {
    .navbar a:hover {
        color: var(--primary);
        cursor: pointer;
    }

    .register:hover {
        color: white !important;
        filter: brightness(1.1);
        cursor: pointer;
    }

    .login:hover {
        filter: brightness(0.9);
        cursor: pointer;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.loadingIcon {
    animation-name: loading;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}